.App {
	text-align: center;
	font-family: 'Permanent Marker', cursive;
	color: #88ccff;
}

h1 {
	font-size: 4rem;
}

.navbar a {
	padding: 30px;
	color: #88ccff;
	font-size: 3.2rem;
	text-decoration: none;
}

.smurf-village {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.smurf {
	border: 5px solid #88ccff;
	border-radius: 10px;
	width: 300px;
	margin: 20px;
	padding: 10px;
	display: flex;
	align-items: center;
}

img {
	border: 5px solid #88ccff;
	border-radius: 25%;
	margin: 20px;
	height: 120px;
	width: 80px;
}

button {
	border: none;
	background-color: #88ccff;
	color: white;
	border-radius: 10px;
	padding: 10px;
	font-family: 'Permanent Marker', cursive;
	font-size: 1rem;
}

input {
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
}
